{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <div class="wrapper">   
        {% block content%}
        {% endblock%}
    </div>
    <footer class="footer">
        <img src="{% static 'logoHome.png' %}" alt="" width="100px">
        <p class="copy-right">Copy right @2023</p>
     </footer>
</body>
</html>