{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <!-- Font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/de0f1ce5ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
          <a href="{% url 'home'%}"> <img src="{% static 'logo.png' %}" alt="logoImg"></a> 
        </div>
        
        <nav class="nav-bar">
            <ul>
                <li class="nav-elt"><a href="{% url 'Store:shopnow' %}"><span class="hidden"> <i class="fa-solid fa-house" style="color: #CD8761;"></i></span><span class="text-hidden">Shop</span></a></li>
                <li class="nav-elt"><a href=""><span class="hidden"><i class="fa-solid fa-list" style="color: #CD8761;"></i></span><span class="text-hidden">Categories</span></a></li>
                {% if user.is_authenticated %}

                    <form action="{% url 'userP:logout' %}" class="logout-link" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="nav-elt"><span class="hidden"><i class="fa-solid fa-right-from-bracket" style="color: #CD8761;"></i></span><span class="text-hidden">Logout</span></button>
                    </form>
              
                    {% for p in profiles %}
                         {% if p.user == user %}
                            {% if p.is_vendor %}
                                <li class="nav-elt"><a href="{% url 'vendor_dashboard:dashboard'%}"><span class="hidden"><i class="fa-solid fa-magnifying-glass" style="color: #CD8761;"></i></span><span class="text-hidden">DashBoard</span></a></li>
                            {% else %}
                                <li class="nav-elt"><a href=""><span class="hidden"><i class="fa-sharp fa-regular fa-heart" style="color: #CD8761;"></i></span><span class="text-hidden">WatchList</span></a></li>
                            {% endif %}
                        {% endif %} 
                    {% endfor %}
                {% else %}
                   <li class="nav-elt"><a href="{% url 'userP:login'%}"><span class="hidden"><i class="fa-solid fa-user" style="color: #CD8761;"></i></span><span class="text-hidden">LogIn</span></a></li>
                    
                {% endif %}
                <li class="nav-elt"><a href="{% url 'Store:cartecredit' %}"><span><i class="fa-solid fa-cart-shopping" style="color: #CD8761;"></i></span></a></li>
            </ul>
        </nav>

    </header>
      
    {% block content%}
    {% endblock%}
    <footer class="footer footer-absolute">
        <img src="{% static 'logo.png' %}" alt="" width="100px">
        <p class="copy-right">Copy right @2023</p>
    </footer>

</body>
</html>