{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twichiyat</title>
    
    <!-- Fonts p tag -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <!-- fonts general -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <header>

    </header>
    <section class="first-load">
        <div class="container">
            <div class="logo">
                <img src="{% static 'logoHome.png' %}" alt="logo">
                <p class="slogan"></p>
            </div>
            <div class="btns">
                <a href="{% url 'Store:shopnow' %}" class="btn shop">SHOP NOW </a>
                <a href="{% url 'vendor_dashboard:dashboard' %}" class="btn sell">SELL ITEMS</a> 
            </div>
        </div>
        
    </section>
    <section class="about">
        <img src="{% static 'star.png' %}" alt="" class="absolute top">
        <h2 class="title">About Our Shop</h2>
        <div class="img-container">
            <img src="{% static 'about.jpg' %}" alt="">
        </div>
        <div class="content">
            <p>Welcome to TWICHIYAT, where we breathe new life into pre-loved treasures. Our vibrant community shares a passion for sustainable living and quality finds. Embracing conscious consumerism, our curated marketplace offers unique fashion, vintage decor, and one-of-a-kind treasures. Shop smart, connect with our community, and let each item on TWICHIYAT tell its own extraordinary story.</p>
        </div>
        
    </section>
    <section class="popular">
        <img src="{% static 'star.png' %}" alt="" class="absolute right">
        <h2 class="title">POPULAR IN TWICHIYAT</h2>
        <div class="categories reveal fade-bottom">
            <a href="#">
                <div class="categorie">
                    <img src="{% static 'jackets.jpg' %}" alt="">
                    <h4>Jackets</h4>
                </div>
            </a>
            <a href="#">
                <div class="categorie">
                    <img src="{% static 'dress.jpg' %}" alt="">
                    <h4>Dresses</h4>
                </div>
            </a>
            <a href="#">
                <div class="categorie">
                    <img src="{% static 'bag.jpg' %}" alt="">
                    <h4>Bags</h4>
                </div>
            </a>
        </div>
        <a href="{% url 'Store:shopnow' %}" class="shop-now">Visit Our Shop</a>
        
    </section>
    <section class="what-they-say">
        <img src="{% static 'star.png' %}" alt="" class="absolute top">
        <h2 class="title">Users Feedback</h2>
        <div class="feedbacks ">
            <div class="feedback reveal fade-left">
                <div class="content-feedback">
                    <img src="{% static 'client1.jpeg' %}" alt="" >
                <p class="feedback-centent"><span class="bold">Emma T</span>TWICHIYAT breathes life into pre-loved treasures, offering a curated marketplace for sustainable living. Connecting with a vibrant community, each item tells its own extraordinary story—shopping here is both smart and meaningful</p>
                </div> 
            </div>
            <div class="feedback reveal fade-right">
                <div class="content-feedback">
                    <img src="{% static 'client2.jpg' %}" alt="" >
                <p class="feedback-centent"><span class="bold">David S</span>TWICHIYAT redefines conscious consumerism with its unique fashion and vintage finds. Connecting users through quality treasures, the platform's commitment to sustainability makes it a standout choice for the mindful shopper.</p>
                </div>
            </div>
            <div class="feedback reveal fade-left">
                <div class="content-feedback">
                    <img src="{% static 'client3.jpg' %}" alt="" >
                <p class="feedback-centent"><span class="bold">Max D.</span>TWICHIYAT is my go-to for one-of-a-kind treasures and sustainable living. The curated marketplace and vibrant community redefine the shopping experience, turning every purchase into a meaningful connection with a pre-loved story</p>
                </div>
            </div>
            <div class="feedback reveal fade-right">
                <div class="content-feedback">
                    <img src="{% static 'client4.jpg' %}" alt="" >
                <p class="feedback-centent"><span class="bold">Asia L.</span>TWICHIYAT transforms shopping into a journey—breathing life into treasures with a commitment to sustainability. The curated marketplace and vibrant community make every purchase an extraordinary story, creating a unique blend of style and consciousness</p>
                </div>
            </div>
        </div>
        <img src="{% static 'star.png' %}" alt="" class="absolute bottom">  
    </section>
    <footer class="footer">
       <img src="{% static 'logoHome.png' %}" alt="" width="100px">
       <p class="copy-right">Copy right @2023</p>
    </footer>
    
    <script src="{% static 'main.js' %}"></script>
</body>
</html>