{% extends 'base_layout.html' %}
{%load static %}

{% block content %}
     
   <div class="small-container">
	 <table>
		<tr>
			<th>Product</th>
			<th>Quantite</th>
			<th>Subtotal</th>
		</tr>
		<tr>
			<td>
				<div class='carte-info'>
					<img src="{% static 'bag1.png' %}">
					<div>
						<p>Red Printed Tshirt</p>
						<small>Price </small>
						<a href="">Remove</a>
					</div>
				</div>
			</td>
		

			<td><input type="number" value="1"></td>
			<td>50.00</td>
		</tr>


		<tr>
			<td>
				<div class='carte-info'>
					<img src="{% static 'bag1.png' %}">
					<div>
						<p>Red Printed Tshirt</p>
						<small>Price </small>
						<a href="">Remove</a>
					</div>
				</div>
			</td>
		

			<td><input type="number" value="1"></td>
			<td>59.00DH</td>
		</tr>
		<tr>
			<td>
				<div class='carte-info'>
					<img src="{% static 'bag1.png' %}">
					<div>
						<p>Red Printed Tshirt</p>
						<small>Price </small>
						<a href="">Remove</a>
					</div>
				</div>
			</td>
		

			<td><input type="number" value="1"></td>
			<td>34.00DH</td>
		</tr>
	 </table>
	 <div class="total-Price">
      <table>
		   <tr>
			<td>Subtotal</td>
            <td>200.00DH</td>
		   </tr>
		   <tr>
			<td>Tax</td>
            <td>10.00DH</td>
		   </tr>
		   <tr>
			<td>Total</td>
            <td>210.00DH</td>
		   </tr>
	  </table>
	 </div>
   </div>


{% endblock  %}