{% extends 'base_layout.html' %}
{%load static %}
{% block content %}
<div class="content1">
    <img src="{% static 'shoes.png' %}">
    <h3>Shoes</h3>
    <p>lorem ipsum</p>
    <h6>250.00DH</h6>
    <ul>
        <li><i class="fa fa-star checkes"></i></li>
        <li><i class="fa fa-star checkes"></i></li>
        <li><i class="fa fa-star checkes"></i></li>
        <li><i class="fa fa-star "></i></li>
        <li><i class="fa fa-star "></i></li>
    </ul>
    <div>
        <p>
            couleur : 
        </p>
    </div>
    
</div>
{% endblock  %}