{% extends 'base_layout.html' %}
{% load static%}
   {%  block content %}
   <div class="order-container">
   <h2>Total: <span class="total-price"></span></h2>
   <h3>Delivery</h3>
   <form action="{% url 'Store:addOrder' %}" method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="text" value="{{ note }}" hidden name="note">
      <input type="text" value="{{ ids }}" hidden name="ids">
      <input type="text" value="{{ quantities }}" hidden name="quantities">
      <div class="infor-divs-order">
         <h3>Expedition mode</h3>
         <p>Delivery Fees <span>5$</span></p>
      </div>
      <div class="infor-divs-order">
         <h3>Paiement</h3>
         <p>Paiement in delivery</p>
         <p>The sending of your order is activated After the confirmation phone call</p>
      </div>
      <button type="submit">Validate Paiement</button>
   </form>
</div>
<script src="{% static 'totalPrice.js' %}"></script>
{% endblock %}


