{% extends 'base_layout.html' %}
{%load static %}
{% block content %}
<div class="container-details-product">
    <div class="product-image">
        <img src="{{ product.image.url }}"alt="Clothing Product">
    </div>

    <div class="product-details">
        <div class="product-title">{{ product.name}}</div>
        <div class="product-price">{{ product.price }}</div>
        <div class="product-description">
            <p>{{ product.description }}</p>
        </div>
        <form class="quantity-section">
            <label for="quantity" class="quantity-label">Quantity:</label>
            <input type="number" id="quantity" name="quantity" class="quantity-input" value="1" min="1">
            <input type="submit" value="Add to Cart">
        </form>
    </div>
</div>

{% endblock  %}