{% extends 'base_layout.html' %}
{%load static %}
{% block content %}
   
<div class="gallery">
    <div class="gallery">
        <a href="{% url 'Store:product_detail' category_id=collection.id %}" class="a1">
            <div class="content">
                <img src="{% static 'shoes.png' %}">
                <h3>Shoes</h3>
                <p>lorem ipsum</p>
                <h6>250.00DH</h6>
                <ul>
                    <li><i class="fa fa-star checkes"></i></li>
                    <li><i class="fa fa-star checkes"></i></li>
                    <li><i class="fa fa-star checkes"></i></li>
                    <li><i class="fa fa-star "></i></li>
                    <li><i class="fa fa-star "></i></li>
                </ul>
            </div>
        
    </div>    
    <div class="content">
        <img src="{% static 'jackets.jpg' %}">
        <h3>Jackets</h3>
        <p>lorem ipsum</p>
        <h6>200.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
 
    <div class="content">
        <img src="{% static 'dress.jpg' %}">
        <h3>dress</h3>
        <p>lorem ipsum</p>
        <h6>200.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
  
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
    <div class="content">
        <img src="{% static 'pantalon.png' %}">
        <h3>pantalon</h3>
        <p>lorem ipsum</p>
        <h6>250.00DH</h6>
        <ul>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star checkes"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star "></i></li>
        </ul>
        
    </div>
</a>
</div>
    <div class="about-us-section">
        <h2>Contact us </h2>
        <p>Email: contact@example.com</p>
        <p>Phone: +1 (123) 456-7890</p>
        <p>Address: 123 Main Street, Cityville, State, 12345</p>
   
      </div>
{% endblock  %}