html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0ebe4;
    font-family: 'Open Sans', sans-serif;
}
*,*::after,*::before{
    box-sizing: border-box;
    user-select: none;
}
body{

    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* Load section */
body .first-load{
    display: table;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}


.first-load .container {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px); 
    height: 100vh;
	width: 100%;
    display: flex;
    flex-direction: column;

}

/* logo style */
.first-load .container  .logo{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: auto;

}
.first-load .container  .logo img{
    max-width: 300px;
    width: 100%;
    margin: auto;
}
.first-load .container  .logo p{
    font-size: 1rem;
    text-align: center;
    margin: 3em 0.6em;
    font-weight: lighter;
    font-family: 'Rajdhani', sans-serif;
}
/* btns style */

.first-load .container  .btns{
    width: 100%;
    margin: auto auto 0 auto;
    padding: 10% ;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.first-load .container  .btns *{
    margin: 1em auto;
    text-decoration: none;
    border-radius: 30px;
    padding: 0.5em 4em;
    font-weight: normal;
   
}
.first-load .container  .btns .shop{
    color: #EBE0CD;
    background-color:#302219;
}
.first-load .container  .btns .sell{
    color: #302219;
    background-color:transparent;
    border: 1px solid #302219;
}

/* About section style */
section.about{
    display: flex;
    flex-direction: column;
}
section.about .img-container{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 0;
}
section .title{
    text-align: center;
    border-bottom: 4px solid #CACACA;
    border-radius: 4px;
    max-width: max-content;
    margin: 1em auto 0;
    color: #62412F;
}
section.about .img-container img{
    max-width: 450px;
    max-height: 250px;
    width: 70%;
    margin:  1em auto 1em 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #62412F;

}
section.about .content{
    padding: 2em 1em;
    background-color: #CD8761;
    max-width: 450px;
    border-radius: 10px;
    width: 80%;
    margin: 1em 1em 2em auto;
    font-size: 0.9rem;

}

/* popular section */
.popular{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.popular .categories{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}


.popular .categories .categorie{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
   
}
.popular .categories .categorie img{
    max-width: 300px;
    min-width: 200px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #62412F;
    height: 300px;
    flex-basis: 300px;
}
.popular .categories .categorie{
    margin: auto;
    
}
.popular .categories a{
    text-decoration: none;
    color: #302219;
    font-size: 1rem;
    font-weight: bold;
}
.popular .shop-now{
    text-decoration: none;
    color: #302219;
    border: 2px solid #302219;
    background-color: #EBE0CD;
    border-radius: 10px;
    width: 60%;
    max-width: 400px;
    margin: 1em auto  2em;
    padding: 0.5em 1em;
    font-size: 1.1rem;
}
.popular .shop-now:hover{
    color: whitesmoke;
    font-weight: 500;
    background-color: #CD8761;
}
.absolute,.right,.bottom,.top{
    display: none;
}

/* Opinions of users */

.what-they-say{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.what-they-say .feedbacks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.what-they-say .feedbacks .feedback{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: auto;

}
.what-they-say .feedbacks .feedback .content-feedback{
    padding: 1em;
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
}
.what-they-say .feedbacks .feedback .content-feedback img{
    width: 100px;
    border-radius: 50%;
    border: 2px solid #62412F;
    box-shadow: 2px 2px #CACACA;
}
.what-they-say .feedbacks .feedback .content-feedback p{
    margin:0  1em;
    font-size: 0.7rem;

}
.bold{
    font-weight: bold;
}

/* Footer */
.footer{
    margin-top: auto;
    padding: 1em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #302219;
    font-size: small;
    box-shadow: 2px 2px #62412F;
}
.footer p{
    color: #CD8761;
}
.footer-absolute{
    position: fixed;
    bottom: 0;
    width: 100%;

}

/* Common style */
.what-they-say .feedbacks .feedback .content-feedback p,
section.about .content,.footer .copy-right{
    
    text-align: justify;
    color: #62412F;
    font-family: 'Rajdhani', sans-serif;
}
/* Header style */
header.header{
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #302219;
    width: 100%;
}
/* logo container */
.logo-container img{
    max-width: 120px;
    min-width: 90px;
    width: 100%;

}
/* Nav Bar */
 .nav-bar{
    margin-left: auto;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-bar ul .nav-elt{
    padding: 0 0.5em;
    font-weight: bold;

}
.nav-bar ul li.nav-elt a{
    text-decoration: none;
    color: #CD8761;
    font-size: 1rem;
    
}
.logout-link button{
    background-color: transparent;
    color: #CD8761;
    font-size: 1rem;
    border: none;
}
/* Icons managing */
.text-hidden{
    display: none;
}
/* login style */
.login-wrapper,
.signup-wrapper,
.update-account-wrapper,
.new_product_wrapper,
.update-product-wrapper{
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4em;
    
  
}


.login-container,
.signup-container,
.update-container,
.new-product-container,
.update-product-container{
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border: 1px solid #302219; */
}

.login-container h1,
.signup-container h1,
.update-container h1,
.new-product-container h1,
.update-product-container h1{
    margin-bottom: 0em;
    color: #CD8761;
    letter-spacing: 1px;
    text-shadow: 1px 2px #302219;
}
.login-container form,
.signup-container form, 
.update-container form,
.new-product-container form, 
.update-product-container form{
    padding: 1em 3em;
   
}

.login-container form > div,
.update-container form > p,
.signup-container form > div,
.new-product-container form > div, 
.update-product-container form > div {
    display: flex;
    text-align: start;
    flex-direction: column;
    margin: 1em auto;
    width: 100%;
    color: #CD8761;
    font-weight: bold;

    
}
.login-container form > div input,
.signup-container form > div input,
.update-container form > p input,
.update-container form > p select,
.new-product-container form > div input,
.new-product-container form > div select,
.new-product-container form > div textarea, 
.update-product-container form > div input, 
.update-product-container form > div select,
.update-product-container form > div textarea{
    flex:1;
    padding: 0.6em;
    margin-top: 1em;
    border-radius: 10px;
    border: 2px solid #62412F;
}
.update-container form > p select option,
.new-product-container form > div select option,
.update-product-container form > div select option{
    width: 100%;
    max-width: 500px;
}
.login-container form > input ,
.signup-container form > input,
.update-container form > input,
.new-product-container form > input,
.update-product-container form >  input{
    margin-top: 2em;
    width: 100%;
    padding: 0.6em ;
    
    border-radius: 10px;
    color: rgb(228, 182, 157);
    font-size: 1em;
    background-color: #62412F;
    font-weight: bold;
    text-shadow: #CD8761;

}
.new-product-container form > input{
    margin-bottom: 6em;
}
.login-container form >input:hover,
.signup-container form > input:hover,
.update-container form > input:hover{
    cursor: pointer;
    font-size: 1.025em;
    background-color: #62412F;
    color: whitesmoke;
    
}
.login-container p,
.signup-container p{
    font-weight: lighter;
    color: #62412F;
    font-size: small;
    margin-bottom: 9em;
}

.login-container p a,
.signup-container p a{
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    color:#CD8761;
}
/* sign up */
.helptext{
    display: none;
}
.errorlist{
    padding: 0;
    list-style: none;
    color: red;
    font-size: 0.7rem;
}
/* update account */
.update-btn{
    margin-bottom: 5em
}
.update-product-container form > div:nth-child(8){
    color: #f0ebe4;
}
.update-product-container form > div:nth-child(8) :not(:first-child):not(:last-child)
{
    display: none;
    color: #f0ebe4;

}
.update-product-container form > div:nth-child(8):last-child input::before {
    content: "Image";
    color: #966951 !important;
}
/* Dashboard style */
.dashboard-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}



.dashboard-container .options-list{
    padding: 2em ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dashboard-container .options-list a{
    padding: 0.5em;
    text-decoration: none;
    color: #CD8761;
    border: 2px solid #CD8761;
    border-radius: 5px;
    box-shadow: 2px 2px #966951;
    font-weight: bold;
    
}

.dashboard-container .order-list{
    padding: 2em;
    display: flex;
    flex-direction: column;

}
.dashboard-container .order-list .order-item{
    display: flex;
    flex-direction: row;
    max-width: 900px;
    width: 100%;
    align-self: center;
    border: 1px solid red;

    

}
.dashboard-container .order-list .order-item .infor-order{
    flex:1;

}
.dashboard-container .order-list .order-item .order-options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dashboard-container .order-list .order-item .order-options a{
    color: #CD8761;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
/* error login style */
.error-login{
    margin-bottom: 0 !important;
    padding: 1em !important;
    font-weight: bold;

}
/* delete message */
.delete{
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
    background-color: #966951;
    padding: 2em;
    display: flex;
    flex-direction: column;
    text-align: center; 
    border-radius: 5px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.delete h3{
    color: #CACACA;
    letter-spacing: 1px;
    text-shadow: 1px 2px #302219;
}

.delete .delete-btn,.delete .login-vendor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.delete .delete-btn .btn-elet,.delete .login-vendor .btn-elet{
    padding: 0.7em 3em;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #302219;
    background-color: #f0ebe4;
}
.delete .login-vendor .btn-elet a{
    text-decoration: none;
    color: #302219;
}
.delete-btn button:first-child:hover{
    background-color: #302219;
    color: white;
}

.delete-btn .btn-elet:nth-child(2):hover{
    background-color: rgb(202, 72, 72);
    color: whitesmoke;
}
/* dashboard delete hidden */
.hidden-div{
    display: none;
}

/* Animations */
.reveal {
    position: relative;
    opacity: 0;
}
  
.reveal.active {
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 0.5s ease-in;
}
.active.fade-left {
    animation: fade-left 0.5s ease-in;
}
.active.fade-right {
    animation: fade-right 0.5s ease-in;
}
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@media (min-width:824px){
    /* About section */
    section.about{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5em;
       
    }
    section.about h2{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

    }
    section.about .content{
        max-width: 50%;
        font-size: 1rem;
        line-height: 1.5em;
    }

    section.about .img-container{
        max-width: 40%;
        width: 100%;
        
    }
    section.about .img-container img{
        width: 100%;
        max-width: 80%;
        margin: auto;
    }
}
@media (min-width:900px){
    /* Popular */
    .popular .categories .categorie img{
        min-width: 300px;
    }
}
@media (min-width:700px){
      /* Popular */
    .popular .categories{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .absolute{
        display: block;
        position: absolute;
        width: 70px;
        
    }
    .top{
        top: 0;
    }
    .right{
        display: block;
        right: 0;
    }
    .bottom{
        
        display: bolck;
        right: 0;
        bottom: 0;
        
    }
    /* Icon manage */
    .text-hidden{
        display: inline-block;
    }
    .hidden{
        display: none;
    }
    .dashboard-container{
        display: flex;
        flex-direction: row;

        
    }
    .dashboard-container .order-list{
        flex:1;
    }
    .dashboard-container .options-list{
        display: flex;
        flex-direction: column;
        margin: auto 0;
        
    }
    .dashboard-container .options-list a{
        margin: 1em 0.1em;
        text-align: center;
    }
    

}
@media (min-width:500px){
    /* Load section */
    .first-load .container  .logo {
        margin: auto auto auto 0;
    }
    .first-load .container  .logo img{
        max-width: 480px;
        margin: auto 0.6em;
    }
    .first-load .container  .logo p{
        font-size: 1.3rem;
        max-width: 480px;
    }
    .first-load .container  .btns{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto auto auto 0;
        max-width: 450px;
        padding: 10% 0 ;

        
    }
    .first-load .container{
        padding: 5%;
    }
    
    /* Opinions */
    .what-they-say .feedbacks .feedback .content-feedback p{
        font-size: 0.9rem;
    
    }
   

   
    
    
}


/* Area_product Css  */
.product-area-option{
    padding: 0.5em 3em;
}
.board{
   flex: 1;
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0;
   margin: 0;
   margin-top: 2em;
   margin-bottom: 4em;
   text-align: center;   
}
.board img {
    width: 100%;
    max-width: 45px;
    min-height: 45px;
    object-fit: cover;
    border-radius: 50%;
}
.board table tbody {
    font-weight: 600;
    font-size: 0.6rem;
    color:#966951 ;
}
.board .product {
    display: flex;
    justify-content: flex-start;
    text-align: start;
}
.board .product *{
    margin: auto;
}
table {
    width: 100%;

}
thead tr{
  border-radius: 10px;
  border-bottom:  1px solid #CACACA;
}

tbody tr{
    border-radius: 10px;
    background-color:  #EBE0CD;
    color: #302219;
    border-bottom:  1px solid #CD8761;
}
tbody tr td:first-child{
    display: flex;
    padding: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
tbody tr td:nth-child(2){
    width: 100%;
    display: flex;
    flex-direction: column;
}
tbody tr td:nth-child(2) *{
    justify-self: center;
    align-self: center;
}
tr td:nth-child(2) .product-inf h5:first-child{
    text-transform: capitalize;
}
tr td:nth-child(2) .product-inf *{
    margin: 0.1em auto 0.1em auto ;
}
thead td{
    font-size: 0.8rem ;
    text-transform: uppercase;
    background-color: #966951;
    padding: 1em 0;
    font-weight: bold;
    color: #302219;
}

.options a {
    text-decoration: none;
    color: #302219 ;
    cursor: pointer;
    padding: 2em 1em;
}

@media (max-width:320px){
    thead td{
        font-size: 0.6rem ;}
}
@media (min-width:500px){
    .board table tbody{
        font-size: 1rem;
    }
    .board table thead{
        font-size: 1.2rem;
    }
}

/* product area search bar */
.nav-dashboard-search{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin:  0  auto 1em;

}
.affiche{
    display: flex;
}
.nav-dashboard-search form{
    padding: 0 1em;
    width: 100%;
    display: flex;
    border-radius: 10px;
    

}
.nav-dashboard-search form input{
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 2px solid #62412F;
    flex: 1;
    
}
.nav-dashboard-search form button{
    border: none;
    background-color: transparent;
}

/* style selected deleted elment  */
.selected-item{
    background-color: #CACACA;
}
/* nihad css */

/* NIHAD CSS : List of the Product  */
.content h3 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
}
.gallery .a1 {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: 0.4s; /* Correction ici */
    background: #f2f2f2;
}
.content1{
    max-width:50%;
    min-width: 50%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: 0.4s; /* Correction ici */
    background: #f2f2f2;
}
.content:hover {
    box-shadow: 0 3px 6px;
    transform: translate(0px, -8px);
} 
.content img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.content p {
    text-align: center;
    color: #b2bec3;
    padding-top: 8px; /* Correction ici */
}
.content h6 {
    font-size: 13px;
    text-align: center;
    color: #9b7218;
}
.content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.fa {
    font-size: 13px;
    transition: 0.4s; /* Correction ici */
    margin: 3px;
}
.checked {
    color: #ff9f43;
}
.fa:hover {
    transform: scale(1.3);
    transition: 0.6s; /* Correction ici */
}
.buy-1 {
    background: #966951;
}
.buy-2 {
    background: #966951;
}
.buy-3 {
    background: #966951;
}
.buy-4 {
    background: #966951;
}
@media (max-width: 1000px) {
    .content {
        width: 45%; /* Correction ici */
    }
}
@media (max-width: 750px) {
    .content {
        width: 100%;
    }
}
.about-us-section {
    background-color: #966951;
    max-width: 98%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: 0.4s; /* Correction ici */
}
.about-us-section h2 {
    color: #333;
}
.about-us-section p {
    color: #fff;
    line-height: 1.6;
}

/* NIHAD CSS : HOME   */
.section {
    text-align: center;
}

.column1 {
    width: 100%;
    padding: 2em;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row1 {
    width: 100%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.row1 * {
    margin: auto;
}

.row1 h4 {
    
    color: #8B4513;
   
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    transition: transform 0.3s ease-in-out;
}

/* .image:hover {
    transform: scale(1.1); 
} */

@media only screen and (min-width: 500px) {
    .column1  {
        display: flex;
        flex-direction: row;
    }
}

/* NIHAD  CSS : File Product */


/* Categories style */
.categories-container-list ,.new-products-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 0.8em;
    padding: 1em;
    

}
.categories-container-list .categorie , 
.new-products-list .product{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #EBE0CD;
    width: 100%;
    max-width: 280px;

}
.new-products-list .product > *{
    margin: 0.3em auto ;
}
.categories-container-list .categorie img , 
.new-products-list .product img{
    width: 90%;
    margin: 1em auto;
    max-width:250px ;
    max-height: 250px;
    height: auto;
    border-radius: 10px;
}

.categories-container-list .categorie {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    transition: transform 0.3s ease-in-out;
}

.categories-container-list .categorie a,
.new-products-list a.product{
    text-decoration: none;
    color: #302219;
}
.categories-container-list .categorie:hover {
    transform: scale(0.9); 
    box-shadow: 1px 2px #EBE0CD;
}
@media only screen and (min-width: 500px) {
    .categories-container-list ,
    .new-products-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .categories-container-list .categorie , .new-products-list .product{
        width: 100%;
        max-width: 350px;
    }
}

/* new products  */

.new-products-list .product{
    display: flex;
    cursor: pointer;

}
.new-products-list .product ul.list-review{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin:0.5em  auto;
    width: 100%; 
    padding-left: 0;
    justify-content: center;
}
.shop-titles{
    text-align: center;
    color:#8B4513 ;
    font-weight: bold;
    font-family: 'Berkshire Swash', serif;
    font-size: 2em;
    margin-bottom: 0em;
}

.categories-container-list,.margin {
    padding-bottom: 10em;
}
.override{
    background-color: transparent !important;
    border: 1px solid #966951;
}


/* Nihad css */
.container-details-product {
    display: flex;
    max-width: 800px;
    margin: 2em auto;
    background-color:#FFE4C4;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.product-image {
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details {
    margin-top: 20px;
    padding: 2em;

}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    color: #e44d26;
    margin-bottom: 10px;
}

.product-description {
    line-height: 1.6;
    margin-bottom: 20px;
}

.add-to-cart {
    background-color: #DEB887;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.quantity-section {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.quantity-label {
    display: block;
    margin-bottom: 5px;
}

.quantity-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
}
